@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Montserrat", sans-serif;
  }
  body {
    background-image: url(/src/assets/Images/cf1178481e14461ddd78e4190a7de4bc.jpeg);
    background-size: cover;
    min-height: 100vh;
    background-repeat: no-repeat;
  }
}
.flex-none {
  flex: none;
}
.transition-transform {
  transition: transform 0.5s ease-in-out;
}
.z-20 {
  z-index: 20;
}
.z-10 {
  z-index: 10;
}
.scale-105 {
  transform: scale(1.05);
}
.scale-90 {
  transform: scale(0.9);
}
.overflow-x-auto {
  overflow-x: auto;
}
.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
}
